[submodule "websitesource"]
	path = websitesource
	url = https://github.com/SpinWearables/SpinWearablesWebsite.git
[submodule "firmwaresource"]
	path = firmwaresource
	url = git@github.com:SpinWearables/SpinWearablesFirmware.git
